
<html>
<head>
</head>
<body>
    <h1>Welcome to my second view</h1>
    <a href="/home/index">Back to home page</a>
    <h3 style="font-size:15px;color:indianred">This is Our About us page</h3>
</body>
</html>
